/*

    POSTS/PAGE

*/

// Horizontal Rules
article hr {
      height: 1px;
      border: 0;
      border-top: $light-gray 1px solid;
      padding: 0;
  }

// Definition List
dt {
   margin-top: 1em;
   font-weight: bold;
 }

 dd {
   margin-left: 1em;
 }

// Abbreviation
 abbr[title] {
    text-decoration: none;
    cursor: help;
    border-bottom: 1px dotted $black;
}

// Strong/ Bold text
b,
strong {
    font-weight: bold;
}

// Mark Tag
mark {
    background-color: $mark-element-color;
}
