/*

    VARIABLES

*/

// Links
$link-color: #0070c9;
$link-hover-color: $near-black;


// Code
$code-background: $near-white;

// Blockquotes
$blockquote-border: $link-color;
$blockquote-color: $black;

// Table
$table-border: $light-silver;
$table-header: $light-gray;
